.nav {
    flex-direction: row;
    justify-content: center;
}

.nav li {
    border-top: none;
}

.nav a {
    border-right: 1px solid #555;
}

.nav li:last-child a {
    border-right: none;
}

.captions {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}